#This is an example configuration file for ClutterFeed
#ClutterFeed does not require this file to exist to work
#and will use hardcoded defaults if it cannot find it.
#Make sure that you use the correct syntax when configuring
#Clutterfeed. The comments in this file will try to explain
#what each configuration does and what are the legal values
#for each of them.

COLORS
{
#The colors are defined as such:
#color=red,green,blue
#Note: you cannot make up your own colors and have
#to use the names that are provided here.
identifierColor=0,126,199
linkColor=66,140,187
friendColor=249,129,245
selfColor=7,192,96
mentionColor=225,165,0
backgroundColor=25,25,25
}

#Nosquash decides whether tweets will have an empty line
#inbetween them
NOSQUASH=FALSE

#Setting this to false (or anything but true) disables the
#parsing of keyboard shortcuts like ctrl-c
NOSHORTCUTS=FALSE

#Setting this to true will make all links in tweets be shown
#as their t.co versions, instead of the expanded ones
SHORTLINKS=FALSE

#Setting this to true will start ClutterFeed in AFK mode, this
#means that the auto-update timer will be frozen until AFK mode
#is turned off using the /afk command
STARTAFK=TRUE