<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ClutterFeed.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <userSettings>
        <ClutterFeed.Properties.Settings>
            <setting name="ConsumerToken" serializeAs="String">
                <value />
            </setting>
            <setting name="ConsumerSecret" serializeAs="String">
                <value />
            </setting>
            <setting name="UserToken" serializeAs="String">
                <value />
            </setting>
            <setting name="UserSecret" serializeAs="String">
                <value />
            </setting>
            <setting name="ScreenName" serializeAs="String">
                <value />
            </setting>
            <setting name="bgRed" serializeAs="String">
                <value>25</value>
            </setting>
            <setting name="bgGreen" serializeAs="String">
                <value>25</value>
            </setting>
            <setting name="bgBlue" serializeAs="String">
                <value>25</value>
            </setting>
            <setting name="idRed" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="idGreen" serializeAs="String">
                <value>126</value>
            </setting>
            <setting name="idBlue" serializeAs="String">
                <value>199</value>
            </setting>
            <setting name="linkRed" serializeAs="String">
                <value>66</value>
            </setting>
            <setting name="linkGreen" serializeAs="String">
                <value>140</value>
            </setting>
            <setting name="linkBlue" serializeAs="String">
                <value>187</value>
            </setting>
            <setting name="friendRed" serializeAs="String">
                <value>249</value>
            </setting>
            <setting name="friendGreen" serializeAs="String">
                <value>129</value>
            </setting>
            <setting name="friendBlue" serializeAs="String">
                <value>245</value>
            </setting>
            <setting name="selfRed" serializeAs="String">
                <value>7</value>
            </setting>
            <setting name="selfGreen" serializeAs="String">
                <value>192</value>
            </setting>
            <setting name="selfBlue" serializeAs="String">
                <value>96</value>
            </setting>
            <setting name="mentionRed" serializeAs="String">
                <value>225</value>
            </setting>
            <setting name="mentionGreen" serializeAs="String">
                <value>165</value>
            </setting>
            <setting name="mentionBlue" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="NoSquash" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="NoShortcuts" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="StartAfk" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="FirstLaunch" serializeAs="String">
                <value>True</value>
            </setting>
        </ClutterFeed.Properties.Settings>
    </userSettings>
</configuration>